body{
    background-image: url(login\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.main{
    padding: 20px;
    font-family: 'Arial';
    box-shadow: 5px 7px 5px 7px #8888;
    float: right;
    padding-top: 50px;
    width: 40%;

}

.main h1{
    font-size: 36px;
    text-align: center;
    font-family: 'Arial';
    color: green;
}
.main h2{
    color: white;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #ad2415;
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #764776;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}